{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">

  <div class="row sample-header center">
  </div>

  <div class="row sample-header center">
    <div class="col s12">
      <h2 class="about-header-text-h2 inline">Yes, we built this!</h2>
      <h1 class="about-header-text-h1 inline">&nbsp;Meet the developers.</h1>
    </div>
  </div>

  <div class="row sample-header center">
    <div class="col s10 push-s1 m6 push-m3">
    <p>It all started with an idea of measuring happiness. How do I make a subjective happiness diary? Well, letting the computers do the analysis and staying out of your judgment was the solution. </p>
    <h5>One idea + Two devs = Mood Tracker ^-^ </h5>
     </div>
  </div>


  <div class="row about-overflow">
    <div class="col s3 pull-s1  m5 push-m1 right-align">
      <img class="about-img" src="../static/img/profile-dev1.png" alt="profile" />
    </div>
    <div class="col s9 m6 left-align">
      <img class="about-img" src="../static/img/profile-dev2.png" alt="profile" />
    </div>
  </div>


  <div class="row about-row">
    <div class="col s5 right-align">

      <h2 class="h2-about">Chelsea Zhu</h2>
      <p class="p-about"> Full Stack Developer</p>

      <div class='row'>
        <a href="https://www.github.com/vivian5668" class="index-a" target="_blank" rel="noopener noreferrer" >
          <h3 class="inline">GITHUB&nbsp;
            <img src="../static/img/logo-github.png" alt="icon-github" />
          </h3>
        </a>
        <br />
        <a href="https://vivian5668.github.io/portfolio" class="index-a" target="_blank" rel="noopener noreferrer" >
          <h3 class="inline">PORTFOLIO&nbsp;
            <i class="material-icons">desktop_mac</i>
          </h3>
        </a>
      </div>
    </div>

    <div class="col s1">
    </div>

    <div class="col s5 left-align">
      <h2 class="h2-about">Emily Hannan</h2>
      <p class="p-about"> Full Stack Developer</p>

      <div class='row'>
        <a href="https://www.github.com/hannan-emily" class="index-a" target="_blank" rel="noopener noreferrer" >
          <h3 class="inline">GITHUB&nbsp;
            <img src="../static/img/logo-github.png" alt="icon-github" />
          </h3>
        </a>
        <br />
        <a href="https://emily-hannan-portfolio.herokuapp.com/" class="index-a" target="_blank" rel="noopener noreferrer" >
          <h3 class="inline">PORTFOLIO&nbsp;
            <i class="material-icons">desktop_mac</i>
          </h3>
        </a>
      </div>
    </div>

  </div>


  </div>
</div>
{% endblock %}
