{% extends "base.html" %}


{% block content %}

<div class="row">
	<div class="col s1"></div>
	<div class="col s4">
		 <canvas id="pieChart" width="400" height="400"></canvas>
	</div>
	<div class="col s1"></div>
	<div class="col s4">
		<canvas id="barChart" width="400" height="400"></canvas>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s4">
		 <canvas id="samplePieChart" width="400" height="400"></canvas>
	</div>
	<div class="col s1"></div>
	<div class="col s4">
		<canvas id="sampleBarChart" width="400" height="400"></canvas>
	</div>
	<div class="col s1"></div>
</div>







<script>
	labels ={{graph_labels|safe}}
    values ={{graph_values|safe}}
</script>

{% endblock %}
