{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<div class="row ">

  <!-- title section -->
  <div class="row sample-header">
    <div class="col m12 center hide-on-small-only">
        <h2 class="sample-header-text-h2 inline">mood</h2>
        <h1 class="sample-header-text-h1 inline">tracker</h1>
        <div class="div-spacer-bottom"></div>
        <h6 class="h6-sample">Utilizing Machine Learning for Good</h6>
        <div class="div-spacer-bottom"></div>
        <h4 class="h4-sample">POWERED WITH AMAZON REKOGNITION + CHART.JS</h4>
        <p class="col m8 push-m2">Track you mood by analyzing your selfies!
        Using the state-of-the-art Amazon Facial Rekongnition machine learning tool,
        your emotion on camera is evaulated & stored in beautiful, easy to read charts.
        Track, store and share self-care with your personalized Mood Tracker.</p>
    </div>

    <div class="col s12 center hide-on-med-and-up">
      <h2 class="index-row-text-small">mood</h2><h1 class="index-row-text-small-h1">tracker</h1>
      <div class="div-spacer-bottom"></div>
      <h6 class="h6-sample">Utilizing Machine Learning for Good</h6>
      <div class="div-spacer-bottom"></div>
      <h4 class="h4-sample flow-text">POWERED WITH AMAZON REKOGNITION + CHART.JS</h4>
      <p class="col s8 push-s2 flow-text">Track you mood by analyzing your selfies!
      Using the state-of-the-art Amazon Facial Rekongnition machine learning tool,
      your emotion on camera is evaulated & stored in beautiful, easy to read charts.
      Track, store and share self-care with your personalized Mood Tracker</p>
    </div>
  </div>

  <!-- sample charts using sample data -->
  <div class="row">

    <div class="col l1 hide-on-med-and-down"></div>

    <div class="col s12 l4">
       <canvas id="samplePieChart" width="400" height="400"></canvas>
    </div>
    <div class="col s12 l1"></div>

    <div class="col s12 l4">
      <canvas id="sampleBarChart" width="400" height="400"></canvas>
    </div>

    <div class="col l1 hide-on-med-and-down"></div>

  </div>

  <!-- image upload example -->
  <div class="row">

    <div class="row sample-header">
      <div class="col s12 center">
        <h2>Upload Image to Start</h2>
      </div>
    </div>


    <div class="col s12 m6 center">
      <img class="responsive-image" src="../static/img/cover-jessica-smile.jpg" alt="jessica-smile" />
    </div>

    <div class="col s12 m6">
      <h2 class="h2-quote">Your Mood Tracker Score:</h2>
      <h2><img class="slide-emoji" src="../static/img/icon-happy.png" alt=""/>&nbsp;&nbsp;HAPPY</h2>
      <p>During facial recognition anaylsis, your photo can be classified as 1 of 7 emotions:</p>

      <div class="col s12">
        <div class="col s6">
          <div class="sample-emoji-header">
            <h4><img class="slide-emoji-tiny" src="../static/img/icon-calm.png" alt=""/>&nbsp;&nbsp;Calm</h4>
          </div>
          <div class="sample-emoji-header">
            <h4><img class="slide-emoji-tiny" src="../static/img/icon-happy.png" alt=""/>&nbsp;&nbsp;Happy</h4>
          </div>
          <div class="sample-emoji-header">
            <h4><img class="slide-emoji-tiny" src="../static/img/icon-surprised.png" alt=""/>&nbsp;&nbsp;Surprised</h4>
          </div>
          <div class="sample-emoji-header">
            <h4><img class="slide-emoji-tiny" src="../static/img/icon-angry.png" alt=""/>&nbsp;&nbsp;Angry</h4>
          </div>
        </div>

        <div class="col s6">
          <div class="sample-emoji-header">
            <h4><img class="slide-emoji-tiny" src="../static/img/icon-confused.png" alt=""/>&nbsp;&nbsp;Confused</h4>
          </div>
          <div class="sample-emoji-header">
            <h4><img class="slide-emoji-tiny" src="../static/img/icon-sad.png" alt=""/>&nbsp;&nbsp;Sad</h4>
          </div>
          <div class="sample-emoji-header">
            <h4><img class="slide-emoji-tiny" src="../static/img/icon-disgusted.png" alt=""/>&nbsp;&nbsp;Disgusted</h4>
          </div>
        </div>
      </div>

      <!-- responsive call to action button for tablet and larger screens -->
      <div class="col m6 push-m3 hide-on-small-only">
        <a class="btn-large" href="{% url 'motion_result' %}">Start Mood Tracker</a>
      </div>

      <!-- responsive call to action button for mobile screens -->
      <div class="col s6 push-s3 hide-on-med-and-up">
        <a class="btn-large" href="{% url 'motion_result' %}">Start Tracker</a>
      </div>

    </div>
  </div>


  <div class="row row-grey">
    <div class="col s8 push-s2 center">
      <h5 class="inline"> PHOTO. ANALYZED. <h4 class="inline">MOOD TRACKER.</h4></h5>
      <h2 class="h2-quote">"I am big enough to admit that I am often inspired by myself."
      - Leslie Knope, Parks & Rec</h2>
    </div>
  </div>



  <!-- sample gallery of images -->
  <div class="row">

    <div class="row sample-header">
      <div class="col s12 center">
        <h2>Mood Tracker Analysis</h2>
      </div>
    </div>

    <div class="col s12">

      <!-- div: image/text/emoji CALM -->
      <div class="col s12 l3 individual-slide center">
        <div class="col s12 index-overlay-text">
          <h3 class="flow-text">CALM</h3>
          <img class="slide-emoji" src="../static/img/icon-calm.png" alt=""/>
        </div>
        <div class="index-overlay">
          <img class="responsive-img" src="../static/img/calm.jpg" alt="calm" />
        </div>
      </div>

      <!-- div: image/text/emoji HAPPY -->
      <div class="col s12 l3 individual-slide center">
        <div class="col s12 index-overlay-text">
          <h3 class="flow-text">HAPPY</h3>
          <img class="slide-emoji" src="../static/img/icon-happy.png" alt=""/>
        </div>
        <div class="index-overlay">
          <img class="responsive-img" src="../static/img/happy.jpg" alt="calm" />
        </div>
      </div>

      <!-- div: image/text/emoji SURPRISED -->
      <div class="col s12 l3 individual-slide center">
        <div class="col s12 index-overlay-text">
          <h3 class="flow-text">SURPRISED</h3>
          <img class="slide-emoji" src="../static/img/icon-surprised.png" alt=""/>
        </div>
        <div class="index-overlay">
          <img class="responsive-img" src="../static/img/surprised.jpg" alt="calm" />
        </div>
      </div>

      <!-- div: image/text/emoji ANGRY -->
      <div class="col s12 l3 individual-slide center">
        <div class="col s12 index-overlay-text">
          <h3 class="flow-text">ANGRY</h3>
          <img class="slide-emoji" src="../static/img/icon-angry.png" alt=""/>
        </div>
        <div class="index-overlay">
          <img class="responsive-img" src="../static/img/angry.jpg" alt="calm" />
        </div>
      </div>

      <!-- div: image/text/emoji CONFUSED -->
      <div class="col s12 l3 individual-slide center">
        <div class="col s12 index-overlay-text">
          <h3 class="flow-text">CONFUSED</h3>
          <img class="slide-emoji" src="../static/img/icon-confused.png" alt=""/>
        </div>
        <div class="index-overlay">
          <img class="responsive-img" src="../static/img/confused.jpg" alt="calm" />
        </div>
      </div>

      <!-- div: image/text/emoji SAD -->
      <div class="col s12 l3 individual-slide center">
        <div class="col s12 index-overlay-text">
          <h3 class="flow-text">SAD</h3>
          <img class="slide-emoji" src="../static/img/icon-sad.png" alt=""/>
        </div>
        <div class="index-overlay">
          <img class="responsive-img" src="../static/img/sad.jpg" alt="" />
        </div>
      </div>

      <!-- div: image/text/emoji DISGUSTED -->
      <div class="col s12 l3 individual-slide center">
        <div class="col s12 index-overlay-text">
          <h3 class="flow-text">DISGUSTED</h3>
          <img class="slide-emoji" src="../static/img/icon-disgusted.png" alt=""/>
        </div>
        <div class="index-overlay">
          <img class="responsive-img" src="../static/img/disgusted.jpg" alt="calm" />
        </div>
      </div>

      <!-- div: image/text/emoji START YOUR OWN -->
      <!-- div is wrapped in a link href tag-->
      <div class="col s12 l3 individual-slide center">
        <a href="{% url 'motion_result' %}">
          <div class="col s12 index-overlay-text">
            <h3 class="flow-text">CLICK + START YOUR TRACKER</h3>
            <img class="slide-emoji-margin" src="../static/img/icon-happy.png" alt=""/>
          </div>
          <div class="index-placeholder">
            <img class="responsive-img" src="../static/img/placeholder.png" alt="" />
          </div>
        </a>
      </div>

    </div>


  </div>



</div>



<script>
	labels ={{graph_labels|safe}}
    values ={{graph_values|safe}}
</script>

{% endblock %}
