{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<div class="row ">

  <!-- title section -->
  <div class="col s12 center">
    <p>Combining Facial Recognition AI + Data Visualizion</p>
    <p>Mood Tracker</p>
    <p>Personalized Selfie/Photo Analysis & Charting Tracker</p>
    <p>Utilizes:</p>
      <p>Amazon Rekognition: Deep Learning API</p>
      <p>Chart.js</p>
  </div>


  <!-- image upload example -->
  <div class="row">
    <div class="col s12 center">
      <h5>Upload Image to Calculate Mood</h5>
      <h6>Jessica's Sample</h6>
    </div>

    <div class="col s12 m6 center">
      <img class="responsive-image" src="../static/img/cover-jessica-smile.jpg" alt="jessica-smile" />
    </div>

    <div class="col s12 m5">
      <h2>Your photo's Mood Tracker Score:</h2>
      <h2>HAPPY	&nbsp;&nbsp;<img class="slide-emoji" src="../static/img/icon-happy.png" alt=""/></h2>

      <p>explanation of what the Amazon Reckognition API is doing, what data is returned,
        how it calculaes the mood score, how we upload/download</p>

      <a class="btn" href="{% url 'motion_result' %}">Start Your Tracker</a>

    </div>
  </div>

  <div class="row row-grey">
    <div class="col s8 push-s2 center">

      <h5 class="inline"> PHOTO. ANALYZED. <h4 class="inline">MOOD TRACKER.</h4></h5>
      <h2 class="h2-quote">"I am big enough to admit that I am often inspired by myself."
      - Leslie Knope, Parks & Rec</h2>

    </div>
  </div>

  <!-- sample charts using sample data -->
  <div class="row">

  </div>

  <!-- sample gallery of images -->
  <div class="row">

  </div>



</div>





{% endblock %}
